@{
    ViewBag.Title = "Home page";
}

<h3>The world1</h3>
<p>Some info</p>
<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div><input type="submit" value="Add" /></div>
</form>